*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width:80%;
    margin: auto;
    padding: 50px 0 40px 0;
}
body{
    width: 100%;
    background: url(./images/bg-desktop.svg);
    background-color:hsl(257, 40%, 49%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
}
.logo{
    width:160px;
}
.col-1-2{
    
    display: flex;
    width: 80%;
    margin: auto;
}
.img{
    max-width: 100%;
    width: 60%
}
.col-2{
    width: 40%;
    margin-top: 30px;
    min-width: 365px;
    padding-left: 20px;
}
.col-2 h1{
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
}
.col-2 p{
    margin-top: 25px;
    font-size: 14px;
}

button{
    margin-top: 20px;
    width: 140px;
    height: 40px;
    border-radius: 100px;
    border: none;
    color: hsl(257, 32%, 39%);
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.336);
    cursor: pointer;
}
@media (min-width: 1366){
    header{
        width: 60%;
    }
    .col-1-2{
        width: 60%;
    }
    .col-2{
        margin-top: 50px;
    }
}
@media (max-width: 768px){
    .logo{
        width: 200px;
        margin: auto;
    }
    .col-2 h1{
        font-size: 26px;
    }
    .col-1-2{
        width:100%;
        flex-direction: column;
    }
    .col-2{
        margin: auto;
        text-align: center;
        padding-left:0;
        margin-top: 20px;
    }
    .img{
        width: 80%;
        margin: auto;
    }
    button{
        width: 200px;
    }
    img{
        width:100%;
    }
}
@media (max-width: 375px){
    body{
        background: url(./images/bg-mobile.svg);
        background-color:hsl(257, 40%, 49%) ;
    }
}
footer{
    margin-top: 100px;
}