*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.boxes{
    display: flex;
    justify-content: space-around;
    margin: 90px auto;
    flex-wrap: wrap;
    width: 80%;

}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    margin-top: 90px;
    font-size: 40px;
    font-weight: 400;
}
h2{
    text-align: right;
    transform: translateY(-50%);
    font-size: 70px;
    color: rgba(235, 235, 235, 0.6);
}

.box{
    width: 716px;
    height: 464px;
    margin-bottom: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.1s ease-in-out;
}
.box_1{
    background-image: url("../assets/desktop-preview-1.jpg");

}
.box_2{
    background-image: url("../assets/desktop-preview-2.jpg");
}
.box_3{
    background-image: url("../assets/desktop-preview-3.jpg");
}
.box_4{
    background-image: url("../assets/desktop-preview-4.jpg");
}
.box:hover{
    transform: scale(1.1);
    z-index: 2;
}
.box:hover > h2{
    text-shadow: 0 0 0 2px black;
}

@media(max-width: 1280px){
    .box{
        width: 358px;
        height: 232px;
    }
}