*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Karla', sans-serif;
}
.all-cont{
    width:45%;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.24);
}
.cont-1{
    padding: 30px;
    background-color: white;
    border-radius: 8px 8px 0 0  ;
}
.cont-1 h2 {
    color:hsl(179, 62%, 43%);
    font-weight: 700;
    font-size: 24px;
}
.cont-1 h3{
    color: hsl(71, 73%, 54%);
    font-size: 16px;
    margin-top: 20px;
}
.cont-1 p{
    font-size: 14px;
    color: grey;
    font-weight: 400;
    margin-top: 10px;
}
.cont-2-3{
    display: flex;
}
.cont-2{
    flex:1;
    color: white;
    background-color: hsl(179, 62%, 43%);
    padding-left: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 0 0 0 8px;

}
.cont-2 h4{
    margin-top: 18px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.61);
}
.cont-2 h3{
    font-size: 16px;
}
.cont-2 p{
    margin-top: 12px;
    font-size: 14px;

}
.cont-3 h3{
    font-size: 16px;
}
strong{
    font-size: 30px;
    color: white;
}

button{
    width: 200px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: hsl(71, 73%, 54%);
    color: white; 
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.205);
    margin-top: 20px;
}
.cont-3{
    flex:1;
    color: white;
    background-color: hsl(179, 75%, 45%);
    padding-left: 30px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 0 0 8px 0;
}
ul{
    margin-top: 20px;
    list-style: none;
    padding: 0;
    font-size: 13px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.678);
    font-weight: 400;
}
@media (max-width: 1170px){
    .all-cont{
        width: 70%;
        border-radius: 8px;
    }
    .cont-1, .cont-2, .cont-3{
        padding-left: 20px;
    }
}
@media (max-width: 700px){
    .cont-2-3{
        flex-direction: column;
    }
    .cont-2{
        border-radius: 0;
        padding-left:0;
        text-align: center;
    }
    .cont-3{
        border-radius: 0 0 8px 8px;
    }
    

}
footer{
    margin-top: 30px;
}

